*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-nums{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    width: 500px;
    height: 500px;
    background-color: rgb(174, 211, 211);
}

.num{
    background-color: coral;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}